# Кэш тестов pytest
.pytest_cache/

# Логи работы сети
logs/

# Состояние узлов (включая приватные ключи identity.key!)
state/

# Системные кэши Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение (если используешь)
venv/
.venv/